body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background:  #11151c;
  width: 300px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#ChromeMemoryContent{
  font-family: 'Work Sans', sans-serif;
  color: #FE7743;
  font-size: 13px;
}

#ModeControl{
  display: flex;
  
  gap: 10px; /* spacing between elements */
  margin-bottom: 10px;
}

#ChromeMemoryTitle{
  font-family: 'Work Sans', sans-serif;
  color: #FE7743;
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 10px;
}

#load-prev-day{
  font-family: 'Work Sans', sans-serif;
  width: 5%;
  padding: 2px;
  background-color: #273469;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

#load-next-day{
  font-family: 'Work Sans', sans-serif;
  width: 5%;
  padding: 2px;
  background-color: #273469;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

#date-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* spacing between elements */
  margin-bottom: 10px;
}

#current-date {
  font-weight: bold;
  color: #FE7743;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  min-width: 100px;
  text-align: center;
}

#events{
  color:#FE7743;
  font-family: 'Work Sans', sans-serif;
}

#load-events {
  margin-top:10px;
  width: 100%;
  padding: 8px;
  background-color: #273469;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

#load-events:hover {
  background-color: #0056b3;
}

.event-card {
  background-color: #273469;
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.event-card:hover {
  transform: translateY(-2px);
}

.event-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 6px;
  color: #e0e0e0;
  font-family: 'Work Sans', sans-serif;
}

.event-time {
  font-size: 13px;
  color: #FE7743;
  font-family: 'Work Sans', sans-serif;
}

/* dark mode */

body.light-mode{
  background-color: #FFFFFF;
  color: #000000;
}

body.light-mode #ChromeMemoryContent,
body.light-mode #ChromeMemoryTitle, 
body.light-mode #date-controls,
body.light-mode #current-date,
body.light-mode #ModeControl{
  color:#273F4F;

}
