.calendar-event{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    color: #FE7743;
    font-family: 'Work Sans', sans-serif;
}

.event-title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    color: #FE7743;
    font-family: 'Work Sans', sans-serif;
}

.event-time {
  font-size: 12.8px;
  color: #FE7743;
  margin-top: 4px;
}

.dates{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    color: #FE7743;
    font-family: 'Work Sans', sans-serif;
}