.calendar-event{
    background-color: #273469;
    color: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;

}
.calendar-event:hover {
  transform: translateY(-2px);


}

.calendar-event.multi-day {
  border-left: 4px solid #FE7743;
  background: rgba(254, 119, 67, 0.08);
  padding-left: 8px;
  border-radius: 4px;
}

.event-title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    color: #e0e0e0;
    font-family: 'Work Sans', sans-serif;
}

.event-time {
  font-size: 12.8px;
  color: #e0e0e0;
  margin-top: 4px;
  font-family: 'Work Sans', sans-serif;
}

.dates{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    color: #FE7743;
    font-family: 'Work Sans', sans-serif;
}

.day-column{
    background-color: #273469;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    flex: 1;
    margin-left: 10px;
    border-left: 1px solid #FE7743;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;    
}

.top-banner {
    background-color: #5E5768; /* Example background color */
    color: white; /* Example text color */
    padding: 2px ; /* Example padding for vertical spacing */
    text-align: center; /* Center the text horizontally */
    color: #D7D7D7;
    font-family: 'Work Sans', sans-serif;
    width: 100%; /* Make the banner span the full width */
    /* Optional: Fixed positioning to keep it visible on scroll */
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
}